@include desktopView {
  .page {
    flex-direction: row;
  }
  // #main-content {
  //   max-width: 1200px;
  //   width: 100%;
  // }
  .homepage-article, .list-article {
    margin: 0;
    padding: toRem(0 10px);
    max-width: toRem(1200px);
  }
  .portfolio-article {
    width: 100%;
    max-width: toRem(1600px);
  }
  .layout-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-section {
    width: calc(100% - 100px);
  }
  .homepage-list, .list-article {
    text-align: left;
  }
}
