@function toRem($sizes) {
  $rem: ();
  @each $size in $sizes {
    $resized: 0;
    @if $size != $resized {
      $resized: #{$size / 16px}rem;
    }
    $rem: append($rem, $resized);
  }
  @return $rem;
}

@mixin desktopView {
  @media screen and (min-width: $small-landscape) and (orientation: landscape),
    screen and (min-width: $small-portrait) and (orientation: portrait) {
      @content;
    }
}

@mixin largeView {
  @media screen and (min-width: $large-screen) {
    @content;
  }
}
