@import "../Theme/utils";
@import "../Theme/variables";

.gallery {
  &.hidden {
    z-index: -1;
    display: none;
  }
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
  &-prev {
    order: 1;
  }
  &-next {
    order: 3;
  }
  &-slide {
    order: 2;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    > img {
      max-width: 100%;
      max-height: calc(100vh - 48px);
    }
    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 99px;
      transition: .2s opacity ease;
      opacity: 0;
    }
    &::after{
      height: toRem(69px);
      width: toRem(73px);
      border: toRem(10px) solid $medium-blue;
      animation: spin 2s linear infinite;
      border-width: toRem(10px 9px 5px 9px);
      box-shadow: 0 0 toRem(9px 2px) rgba(148, 251, 255,.5);
    }
    &::before {
      height: toRem(60px);
      width: toRem(60px);
      border: toRem(10px) solid $light-blue;
      animation: spin 1.2s linear infinite reverse;
      border-width: toRem(10px 6px 8px 7px);
    }
    &.changing {
      &::before, &::after {
        opacity: 1;
      }
    }
  }
  &-img {
    &-description {
      padding: toRem(10px 15px);
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: toRem(50px);
    height: toRem(50px);
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    transition: 0.2s background-color ease;
    cursor: pointer;
    padding: 0;
    .icon {
      transition: 0.2s fill ease;
      fill: rgba(255, 255, 255, 0.6);
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      .icon {
        fill: rgba(255, 255, 255, 1);
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.3);
        transition: none;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform-origin: 50%;
    transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateZ(360deg);
  }
}
