{{ define "main" }}

<article class="homepage-article">
<header class="homepage-header">
  <h2 class="title">{{.Title}}</h2>{{ with.Params.subtitle }}
  <span class="subtitle">{{.}}</span>{{ end }}
</header>
<div class="homepage-content">
  {{.Content}}</div>
<section class="homepage-list">
<h2 class="title">Latest Posts</h2>
{{ $paginator := .Paginate (where site.RegularPages "Type" "!=" "page") 6 }}{{ range $paginator.Pages }}
{{ .Render "summary"}}{{ end }}{{ partial "pagination.html" . }}
</section>
</article>
{{ end }}
