{{ define "main" }}

<article class="post post-full" aria-labelledby="post-title-{{.File.UniqueID}}">
<header class="post-header">
  <h2 id="post-title-{{.File.UniqueID}}" class="post-title">{{ .Title }}</h2>
  <div class="post-meta">
    <time class="post-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
      {{ .PublishDate.Format "Jan 2, 2006" }}
    </time>
    <span class="post-reading">{{ .ReadingTime }} min read</span>
    <ul class="tags">{{ range .Params.tags }}
      <li class="tag">{{ . }}</li>{{ end }}
    </ul>
  </div>
</header>
<div class="post-content">
{{ .Content }}
</div>{{- with .Resources.ByType "image" -}}
<div class="post-gallery">{{ range . -}}{{ $thumb := .Fill "300x300 Lanczos" }}
  <a class="post-gallery-link" href="{{ .Permalink }}" data-gallery data-gallery-description="{{ .Title }}"><img class="post-gallery-thumb lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAQAAADTdEb+AAAAxUlEQVR42u3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHwawGoAAS0YDHwAAAAASUVORK5CYII" data-src="{{ $thumb.Permalink }}" alt="{{ .Title }}" ></a>{{- end -}}
</div>
<div id="gallery-div" class="app"></div>{{- end -}}
</article>
{{ end }}
