<article class="post post-summary post-{{ .Section }}" aria-labelledby="post-title-{{.File.UniqueID}}">{{ if .Params.Icon }}
  <div class="post-icon">
    <a href="{{ .Permalink }}" title="{{ .Title }}"><svg class="icon medium" aria-labelledby="icon-{{.File.UniqueID}}" role="img">
      <title id="icon-{{.File.UniqueID}}">{{.Title}}</title>
      <use xlink:href="js/sprites.svg#{{.Params.Icon}}"></use>
    </svg></a>
  </div>{{ else }}{{with .Resources.GetMatch "**-header.*"}}{{ $image := .Fill "600x400 Lanczos" }}
  <div class="post-img">
    <a href="{{ $.Permalink }}">
      <img class="img-fluid lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAGQCAQAAADYPNYTAAAB5klEQVR42u3BAQEAAACAkP6v7ggKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAalT5AAEyprF1AAAAAElFTkSuQmCC" data-src="{{ $image.Permalink }}" alt="{{ .Title }}">
    </a>
  </div>{{end}}{{end}}
  <div class="post-content">
    <header>
      <h3 id="post-title-{{.File.UniqueID}}" class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
      <div class="post-meta">
        <time class="post-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> - {{ .ReadingTime }} min read
        <ul class="tags">{{ range .Params.tags }}
          <li class="tag">{{ . }}</li>{{ end }}
        </ul>
      </div>
    </header>
    {{ .Summary }}
    <footer>
      <a href="{{ .Permalink }}">Read more →</a>
    </footer>
  </div>
</article>
