*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) and (orientation: landscape), (min-width: 800px) and (orientation: portrait) {
  .page { flex-direction: row; }
}
