<header class="sidebar layout-header">
<div class="sidebar-content">
  <div class="sidebar-about">{{ if .Site.Params.image }}
    <img alt="{{ .Site.Params.author }}" src="/{{ .Site.Params.image }}" class="sidebar-logo" />{{ end }}
    <h1 class="sidebar-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>
  </div>
  <div class="title-bar">
    <button class="menu-icon fa fa-bars fa-lg" type="button" ></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <nav class="menu-section" id="main-menu" aria-label="Main Menu">
    <ul class="menu">{{ $currentPage := . }}{{ range .Site.Menus.main }}
      <li>
        <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
          href="{{ .URL }}" title="{{ .Title }}">
          <span>{{ .Name }}</span>
        </a>
      </li>{{ end }}
    </ul>
  </nav>
  <aside class="menu-section social-links" aria-label="Social Media Menu">
    <ul class="menu menu-social">{{ range.Site.Data.social.websites }}
      <li>
        <a rel="noopener" target="_blank" href="{{.url}}" title="{{.name}}">
          <svg class="icon small" aria-labelledby="icon-{{.icon}}" role="img">
            <title id="icon-{{.icon}}">{{.name}}</title>
            <use xlink:href="js/sprites.svg#{{.icon}}"></use>
          </svg>
        </a>
      </li>{{ end }}
    </ul>
  </aside>
  <div id="swatch-app" class="app"></div>
</div>
</header>
